<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <!-- <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
      </div> -->

      <h3>Snapshots</h3>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Dataset</th>
            <th>Revision</th>
            <th>Source</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
          <% files.forEach(function(file) { %>
          <tr>
            <td><%= file.id %></td>
            <td><%= file.dataset %></td>
            <td><%= file.revision %></td>
            <td><%= file.source %></td>
            <td><%= file.createdAt %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <h3>Diffs</h3>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Base</th>
            <th>Delta</th>
            <th>Path</th>
            <th>Url</th>
            <th>Time</th>

            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
          <% diffs.forEach(function(diff) { %>
          <tr>
            <td><%= diff.id %></td>
            <td><%= diff.baseFileId %></td>
            <td><%= diff.deltaFileId %></td>
            <td><%= diff.path %></td>
            <td>
              <a href="<%= diff.url %>"><%= diff.url %></a>
            </td>
            <td><%= msToTime(diff.time) %></td>
            <td><%= diff.createdAt %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <h3>Dists</h3>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Diff</th>
            <th>Path</th>
            <th>Url</th>
            <th>Time</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
          <% dists.forEach(function(dist) { %>
          <tr>
            <td><%= dist.id %></td>
            <td><%= dist.diffId %></td>
            <td><%= dist.path %></td>
            <td>
              <a href="<%= dist.url %>"><%= dist.url %></a>
            </td>
            <td><%= msToTime(dist.time) %></td>
            <td><%= dist.createdAt %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
