<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <!-- <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
      </div> -->

      <style>
        th,
        td {
          padding: 3px;
        }
        pre {
          margin-bottom: 0;
        }
      </style>

      <h3>Snapshots</h3>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Dataset</th>
            <th>Revision</th>
            <th>Source</th>
            <th>Size MB</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
          <% files.forEach(function(file) { %>
          <tr>
            <td><pre><%= file.id %></pre></td>
            <td><pre><%= file.dataset %></pre></td>
            <td><pre><%= file.revision %></pre></td>
            <td>
              <a href="<%= file.source %>">
                <pre><%= file.source.substring(0, 50) %>... </pre>
              </a>
            </td>
            <td><pre><%= (file.size / 1024000).toFixed(1) %></pre></td>
            <td><pre><%= file.createdAt %></pre></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <h3>Diffs</h3>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Base</th>
            <th>Delta</th>
            <th>Path</th>
            <th>Url</th>
            <th>Time</th>
            <th>Size MB</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
          <% diffs.forEach(function(diff) { %>
          <tr>
            <td><pre><%= diff.id %></pre></td>
            <td><pre><%= diff.baseFileId %></pre></td>
            <td><pre><%= diff.deltaFileId %></pre></td>
            <td><pre><%= diff.path.substring(0, 20) %>...</pre></td>
            <td>
              <a href="<%= diff.url %>">
                <pre><%= diff.url.substring(0, 20) %>...</pre>
              </a>
            </td>
            <td><pre><%= msToTime(diff.time) %></pre></td>
            <td><pre><%= (diff.size / 1024000).toFixed(1) %></pre></td>
            <td><pre><%= diff.createdAt %></pre></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <h3>Dists</h3>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Diff</th>
            <th>Path</th>
            <th>Url</th>
            <th>Time</th>
            <th>Size MB</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
          <% dists.forEach(function(dist) { %>
          <tr>
            <td><pre><%= dist.id %></td></pre>
            <td><pre><%= dist.diffId %></td></pre>
            <td><pre><%= dist.path.substring(0, 20) %>...</td></pre>
            <td>
              <a href="<%= dist.url %>"><pre><%= dist.url.substring(0, 20) %>...</pre></a>
            </td>
            <td><pre><%= msToTime(dist.time) %></td></pre>
            <td><pre><%= (dist.size / 1024000).toFixed(1) %></td></pre>
            <td><pre><%= dist.createdAt %></td></pre>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
