<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <!-- <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
      </div> -->

      <h3>Snapshots</h3>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Dataset</th>
            <th>Revision</th>
            <th>Source</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <% files.forEach(function(file) { %>
          <tr>
            <td><%= file.id %></td>
            <td><%= file.dataset %></td>
            <td><%= file.revision %></td>
            <td><%= file.source %></td>
            <td>TBC</td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <h3>Diffs</h3>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Base</th>
            <th>Delta</th>
            <th>Path</th>

            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <% diffs.forEach(function(diff) { %>
          <tr>
            <td><%= diff.id %></td>
            <td><%= diff.base_file_id %></td>
            <td><%= diff.delta_file_id %></td>
            <td><%= diff.path %></td>
            <td>TBC</td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
